repos:
  - name: OpenvCloud Core
    source:
       branch: staging
    target:
       branch: master
    url: https://github.com/0-complexity/openvcloud
  - name: OpenvCloud Installer
    source:
       branch: master
    target:
       branch: master
    url: https://github.com/0-complexity/openvcloud_installer
  - name: OpenvCloud Frontend
    source:
       branch: staging
    target:
       branch: master
    url: https://github.com/0-complexity/g8vdc
  - name: OpenvCloud 0-Access
    source:
       branch: master
    target:
       branch: master
    url: https://github.com/0-complexity/0-access
  - name: OpenvCloud Selfhealing
    source:
       branch: staging
    target:
       branch: master
    url: https://github.com/0-complexity/selfhealing
  - name: OpenvCloud noVNC
    source:
       branch: staging
    target:
       branch: 0.5.1
    url: https://github.com/0-complexity/noVNC
  - name: JumpScale Core
    source:
       branch: staging
    target:
       branch: master
    url: https://github.com/jumpscale7/jumpscale_core7
  - name: JumpScale Portal
    source:
       branch: staging
    target:
       branch: master
    url: https://github.com/jumpscale7/jumpscale_portal
  - name: Python Binaries
    source:
       branch: staging
    target:
       branch: master
    url: https://git.gig.tech/openvcloud/binary/python
  - name: OpenvStorage Branding
    source:
       branch: staging
    target:
       branch: master
    url: https://git.gig.tech/openvcloud/binary/openvstorage_branding
  - name: RouterOS Binary
    source:
       branch: staging
    target:
       branch: master
    url: git@git.gig.tech:openvcloud/binary/routeros
  - name: Redis Binary
    source:
       branch: staging
    target:
       branch: master
    url: https://git.gig.tech/openvcloud/binary/redis

images:
  openvcloud/cb_master: latest
  openvcloud/base: latest
  openvcloud/js7: latest
  openvcloud/grafana-init: latest
  openvcloud/syncthing_sidecar: latest
  openvcloud/pxeboot: latest
  openvcloud/pxeboot-init: latest
  openvcloud/pxeboot-base: 2.4.0
  openvcloud/pxeboot-httpd: latest
  openvcloud/nginx-init: latest
  openvcloud/0-access: latest
  openvcloud/management: latest
  openvcloud/ninstaller: latest
  grafana/grafana: 5.0.0
  mongo: 3.7.2
  cvallance/mongo-k8s-sidecar: latest
  influxdb: 1.4
  syncthing/syncthing: latest
  redis: 3.2
